@use '../abstracts/variables';

button {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  appearance: none;
  background-color: #178a9e;

  margin: variables.$px-mrg-btn;
  padding: variables.$px-pdd-btn + 2px;

  border-radius: 10px;
  border: solid 2px #8686868f;

  width: 30%;
  height: variables.$px-h-btn;

  background-color: #dadada;

  transition: 0.2s;

  &:disabled:hover {
    cursor: not-allowed;
  }

  &:enabled {
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: 5px 5px 15px #4e65885d;

      background-color: #7da0d496;
      border: #7da0d4 solid 2px;

      //text-decoration: underline;
      :active {
        transform: scale(0.98);
      }
    }
  }

  &.succes {
    &:hover {
      background-color: #4deb5a77;
      border: #44ff53 solid 2px;
      box-shadow: 0px 0 15px #fff12f91;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  &.cancel {
    &:hover {
      background-color: #e62a2a77;
      border: #fd4a4a solid 2px;
      box-shadow: 0px 0 15px #ff4c4c91;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.request__container,
.committe__container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  overflow-y: hidden;
  transition: all ease-in 0.2s;

  &__display,
  &__display {
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-y: hidden;
    overflow-x: hidden;

    height: 100%;
    width: 100%;

    border-radius: 10px;

    &__controllers {
      align-self: baseline;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50%;

      padding: 15px;

      button img {
        object-fit: contain;
        width: 30px;
        color: #dadada;
      }

      ion-icon {
        width: 30px;
        height: 25px;
      }
    }

    &__list {

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 10px 0;

      height: 100%;
      width: 100%;

      overflow-y: scroll;

      &::-webkit-scrollbar {
        appearance: none;
      }

      &::-webkit-scrollbar:vertical {
        width: 10px;
      }

      &::-webkit-scrollbar:horizontal {
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
    }
  }

  &__preview {

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: #dadada;

    h2 {
      display: none;
      padding: 20px 0 0 0;
    }

    &__form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 100%;

      &__inputs {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        &--titulo-tg{
          margin: 10px 0;
        }
      }
    }

    .request__container__preview__form__inputs--titulo-tg {
      resize: none;
      padding: 10px;
      width: 100%;
      height: 100px;
      line-height: 1.5;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 1px #999;

      &:disabled {
        background-color: #fdfdfd;
        color: #000;
      }
    }
  }
}