* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 13%;
  height: 100%;
  background-color: #494748;
  transition: 0.2s;
  overflow-x: hidden;
}
.navbar img {
  margin-top: 25px;
  width: 88px;
  height: 100px;
  object-fit: contain;
  transition: all 0.2s;
}
.navbar__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin-top: 10px;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.2s;
}
.navbar__list::-webkit-scrollbar {
  appearance: none;
}
.navbar__list::-webkit-scrollbar:vertical {
  width: 10px;
}
.navbar__list::-webkit-scrollbar:horizontal {
  height: 10px;
}
.navbar__list::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.navbar__list::-webkit-scrollbar-track {
  border-radius: 10px;
}
.navbar__list__element {
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  border-bottom: 1px #fff solid;
  transition: 0.2s;
}
.navbar__list__element a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}
.navbar__list__element a ion-icon {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
.navbar__list__element:hover {
  transform: scale(1.04);
  transition: all 0.2s;
}

.login__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
}
.login__form--msg {
  color: #0E0E2C;
}
.login__form__mail, .login__form__password {
  margin-top: 10px;
}
.login__form__mail h2, .login__form__password h2 {
  margin-top: 40px;
  opacity: 1;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.login__form__mail input, .login__form__password input {
  margin: 10px 0 0 0;
  padding: 0 15px;
  width: 370px;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 23px;
  appearance: none;
  background-color: #d9d9d9;
}
.login__form__btn {
  appearance: none;
  margin: 15px 5px 0 5px;
  padding: 0 15px;
  border-radius: 10px;
  border: none;
  width: 400px;
  height: 60px;
  background-color: #0e0e2c;
  color: #d9d9d9;
  font-size: 23px;
  transition: 0.2s;
}
.login__form__btn:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 5px 5px 15px black;
}
.login__form__btn:active {
  background-color: #d9d9d9;
  color: #0e0e2c;
}
.login__form__btn.succes {
  background-color: #16822D;
}
.login__form__btn.cancel {
  background-color: #BE1937;
}
.login__form__action {
  display: flex;
  width: 100%;
}
.login__form__action button {
  width: 100%;
}
.login__form--forget {
  margin: 30px;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700;
}
.login__form--forget:hover {
  cursor: pointer;
}

.request__container__display__list__record {
  margin: 5px;
  padding: 5px;
  width: 90%;
  border-radius: 10px;
  transition: all ease 0.2s;
}
.request__container__display__list__record:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.request__container__display__list__record:active {
  transform: scale(1);
}
.request__container__display__list__record:nth-child(2n) {
  background-color: #e2e2e2;
}
.request__container__display__list__record:nth-child(2n+1) {
  background-color: #f1f1f1;
}
.request__container__display__list__record p {
  margin: 5px;
}

.create-state {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.2s;
}
.create-state::-webkit-scrollbar {
  appearance: none;
}
.create-state::-webkit-scrollbar:vertical {
  width: 10px;
}
.create-state::-webkit-scrollbar:horizontal {
  height: 10px;
}
.create-state::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.create-state::-webkit-scrollbar-track {
  border-radius: 10px;
}
.create-state .progressbar {
  margin: 10px 0 10px;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background-color: #ffffff;
}
.create-state .progressbar--content {
  height: 100%;
  border-radius: 5px;
  background-color: #319418;
  transition: all 0.3s;
}
.create-state .create-carousel {
  display: flex;
  width: 100%;
  height: 100%;
}
.create-state .create-carousel img {
  padding-right: 180px;
  padding-bottom: 20px;
  width: 30px;
  transition: all 0.2s;
}
.create-state .create-carousel img:hover {
  cursor: pointer;
}
.create-state .create-carousel img:active {
  transform: scale(1.1);
}
.create-state .create-carousel .students,
.create-state .create-carousel .tutor,
.create-state .create-carousel .company,
.create-state .create-carousel .external-profesional {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-state .create-carousel .students .request__container__preview__form,
.create-state .create-carousel .tutor .request__container__preview__form,
.create-state .create-carousel .company .request__container__preview__form,
.create-state .create-carousel .external-profesional .request__container__preview__form {
  width: 90%;
}
.create-state .create-carousel .students .request__container__preview__form__inputs--titulo-tg,
.create-state .create-carousel .tutor .request__container__preview__form__inputs--titulo-tg,
.create-state .create-carousel .company .request__container__preview__form__inputs--titulo-tg,
.create-state .create-carousel .external-profesional .request__container__preview__form__inputs--titulo-tg {
  resize: none;
  padding: 10px;
  width: 100%;
  height: 100px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
.create-state .create-carousel .students select:hover,
.create-state .create-carousel .tutor select:hover,
.create-state .create-carousel .company select:hover,
.create-state .create-carousel .external-profesional select:hover {
  cursor: pointer;
}

.request__container__preview__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 18%;
  padding: 10px 0;
  height: 100%;
  width: 100%;
}
.request__container__preview__form input,
.request__container__preview__form select {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  appearance: none;
  border: #7da0d4 solid 2px;
  transition: all 0.1s;
}
.request__container__preview__form input:focus,
.request__container__preview__form select:focus {
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(125, 160, 212, 0.075) nset, 0 0 8px rgba(125, 160, 212, 0.6);
  outline: 0 none;
}
.request__container__preview__form p {
  width: 100%;
}
.request__container__preview__form .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}

.router {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8F8;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.router h1 {
  padding: 15px 250px;
  border-bottom: solid 1px #0E0E2C;
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../imgs/login-bk02.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.login .login-bc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  appearance: none;
  background-color: #178a9e;
  margin: 15px 5px 0 5px;
  padding: 0 15px2px;
  border-radius: 10px;
  border: solid 2px #8686868f;
  width: 30%;
  height: 60px;
  background-color: #dadada;
  transition: 0.2s;
}
button:disabled:hover {
  cursor: not-allowed;
}
button:enabled:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 5px 5px 15px #4e65885d;
  background-color: #7da0d496;
  border: #7da0d4 solid 2px;
}
button:enabled:hover :active {
  transform: scale(0.98);
}
button.succes:hover {
  background-color: #4deb5a77;
  border: #44ff53 solid 2px;
  box-shadow: 0px 0 15px #fff12f91;
  transform: scale(1.1);
}
button.succes:active {
  transform: scale(1);
}
button.cancel:hover {
  background-color: #e62a2a77;
  border: #fd4a4a solid 2px;
  box-shadow: 0px 0 15px #ff4c4c91;
  transform: scale(1.1);
}
button.cancel:active {
  transform: scale(1);
}

.request__container,
.committe__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  transition: all ease-in 0.2s;
}
.request__container__display, .request__container__display,
.committe__container__display,
.committe__container__display {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.request__container__display__controllers, .request__container__display__controllers,
.committe__container__display__controllers,
.committe__container__display__controllers {
  align-self: baseline;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 15px;
}
.request__container__display__controllers button img, .request__container__display__controllers button img,
.committe__container__display__controllers button img,
.committe__container__display__controllers button img {
  object-fit: contain;
  width: 30px;
  color: #dadada;
}
.request__container__display__controllers ion-icon, .request__container__display__controllers ion-icon,
.committe__container__display__controllers ion-icon,
.committe__container__display__controllers ion-icon {
  width: 30px;
  height: 25px;
}
.request__container__display__list, .request__container__display__list,
.committe__container__display__list,
.committe__container__display__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.request__container__display__list::-webkit-scrollbar, .request__container__display__list::-webkit-scrollbar,
.committe__container__display__list::-webkit-scrollbar,
.committe__container__display__list::-webkit-scrollbar {
  appearance: none;
}
.request__container__display__list::-webkit-scrollbar:vertical, .request__container__display__list::-webkit-scrollbar:vertical,
.committe__container__display__list::-webkit-scrollbar:vertical,
.committe__container__display__list::-webkit-scrollbar:vertical {
  width: 10px;
}
.request__container__display__list::-webkit-scrollbar:horizontal, .request__container__display__list::-webkit-scrollbar:horizontal,
.committe__container__display__list::-webkit-scrollbar:horizontal,
.committe__container__display__list::-webkit-scrollbar:horizontal {
  height: 10px;
}
.request__container__display__list::-webkit-scrollbar-thumb, .request__container__display__list::-webkit-scrollbar-thumb,
.committe__container__display__list::-webkit-scrollbar-thumb,
.committe__container__display__list::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.request__container__display__list::-webkit-scrollbar-track, .request__container__display__list::-webkit-scrollbar-track,
.committe__container__display__list::-webkit-scrollbar-track,
.committe__container__display__list::-webkit-scrollbar-track {
  border-radius: 10px;
}
.request__container__preview,
.committe__container__preview {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #dadada;
}
.request__container__preview h2,
.committe__container__preview h2 {
  display: none;
  padding: 20px 0 0 0;
}
.request__container__preview__form,
.committe__container__preview__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}
.request__container__preview__form__inputs,
.committe__container__preview__form__inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.request__container__preview__form__inputs--titulo-tg,
.committe__container__preview__form__inputs--titulo-tg {
  margin: 10px 0;
}
.request__container__preview .request__container__preview__form__inputs--titulo-tg,
.committe__container__preview .request__container__preview__form__inputs--titulo-tg {
  resize: none;
  padding: 10px;
  width: 100%;
  height: 100px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
.request__container__preview .request__container__preview__form__inputs--titulo-tg:disabled,
.committe__container__preview .request__container__preview__form__inputs--titulo-tg:disabled {
  background-color: #fdfdfd;
  color: #000;
}

/*# sourceMappingURL=main.css.map */
